flows.json
[
    {
        "id": "33bea8c41fb3a22b",
        "type": "tab",
        "label": "prueba1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "45efa3d25bb16f76",
        "type": "telegram bot",
        "botname": "Prueba2",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false,
        "info": "5794445331:AAFpeJo_DW6WrETg-e3NsgDgcrRdSK1zKX0"
    },
    {
        "id": "9f7c70a3d88d7311",
        "type": "s7 endpoint",
        "transport": "iso-on-tcp",
        "address": "192.168.61.139",
        "port": "102",
        "rack": "0",
        "slot": "1",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": "2",
        "cycletime": "1000",
        "timeout": "2000",
        "name": "entrada",
        "vartable": [
            {
                "addr": "M0.0",
                "name": "botStart"
            },
            {
                "addr": "Q0.6",
                "name": "boxFider"
            },
            {
                "addr": "Q1.1",
                "name": "loadBelt"
            }
        ]
    },
    {
        "id": "fceadb64b7fed363",
        "type": "s7 endpoint",
        "transport": "iso-on-tcp",
        "address": "192.168.61.139",
        "port": "102",
        "rack": "0",
        "slot": "1",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": "2",
        "cycletime": "1000",
        "timeout": "2000",
        "name": "",
        "vartable": [
            {
                "addr": "M0.1",
                "name": "botStop"
            }
        ]
    },
    {
        "id": "74e096f7391a8c7e",
        "type": "telegram receiver",
        "z": "33bea8c41fb3a22b",
        "name": "",
        "bot": "45efa3d25bb16f76",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 110,
        "y": 260,
        "wires": [
            [
                "ca19fa3e3f88dd09",
                "cff0a9f7ea450963",
                "bf686f0108cf1a4c"
            ],
            []
        ]
    },
    {
        "id": "bdf1561d2bb6e385",
        "type": "debug",
        "z": "33bea8c41fb3a22b",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 20,
        "wires": []
    },
    {
        "id": "ca19fa3e3f88dd09",
        "type": "function",
        "z": "33bea8c41fb3a22b",
        "name": "function 1",
        "func": "if (msg.payload.content.toLowerCase().includes(\"hola\")) {\n    msg.payload.content = \"Hola soy la banda iot, escribe arrancar banda si deseas que me encienda, o escribe parar banda si deseas que me apague\";\n    flow.set('Id', msg.payload.chatId)\n    return msg;\n}\nelse if (msg.payload.content.toLowerCase().includes(\"arrancar\")) {\n    msg.payload.content = \"Comando de arranque recibido\";\n    return msg;\n}\nelse if (msg.payload.content.toLowerCase().includes(\"parar\")) {\n    msg.payload.content = \"Comando de parada recibido\";\n    return msg;\n}\nelse if (msg.payload.content.toLowerCase().includes(\"foto\")) {\n    msg.payload.type = \"photo\";\n    msg.payload.content = \"https://stickerly.pstatic.net/sticker_pack/WSaUDyCtpmVWkJ3ZEgmkOg/1X9497/2/95087cd6-2a34-4c2a-bc43-719eb09e736d.png\";\n    return msg;\n}\nelse {\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 380,
        "wires": [
            [
                "7a40e7e326c4676f"
            ]
        ]
    },
    {
        "id": "7a40e7e326c4676f",
        "type": "telegram sender",
        "z": "33bea8c41fb3a22b",
        "name": "",
        "bot": "45efa3d25bb16f76",
        "haserroroutput": false,
        "outputs": 1,
        "x": 570,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "cff0a9f7ea450963",
        "type": "function",
        "z": "33bea8c41fb3a22b",
        "name": "function 2",
        "func": "var mensaje_usuario = msg.payload.content.toLowerCase()\nmsg.payload = mensaje_usuario;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 160,
        "wires": [
            [
                "70624554a2f15eb8"
            ]
        ]
    },
    {
        "id": "0af3e25f512e4449",
        "type": "debug",
        "z": "33bea8c41fb3a22b",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 260,
        "wires": []
    },
    {
        "id": "70624554a2f15eb8",
        "type": "switch",
        "z": "33bea8c41fb3a22b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "arrancar",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "parar",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 160,
        "wires": [
            [
                "bdf1561d2bb6e385",
                "5a8994f119913c8a"
            ],
            [
                "0af3e25f512e4449",
                "b8365cb62ca7d1b7"
            ]
        ]
    },
    {
        "id": "5a8994f119913c8a",
        "type": "trigger",
        "z": "33bea8c41fb3a22b",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 740,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "b8365cb62ca7d1b7",
        "type": "trigger",
        "z": "33bea8c41fb3a22b",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 740,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "d3e7a78387fbed2c",
        "type": "function",
        "z": "33bea8c41fb3a22b",
        "name": "function 3",
        "func": "flow.set('Actuador1', msg.payload.boxFider)\nflow.set('Actuador2', msg.payload.Load_Belt)",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "bf686f0108cf1a4c",
        "type": "function",
        "z": "33bea8c41fb3a22b",
        "name": "function 4",
        "func": "if (msg.payload.content.toLowerCase().includes(\"actuadores\")) {\n    if (flow.get('Actuador1') == true) {\n        msg.payload.content = \"boxFider: ON\";\n        return msg;\n    }\n    else if (flow.get('Actuador1') == false) {\n        msg.payload.content = \"boxFider: OFF\";\n        return msg;\n    }\n    else {\n        msg.payload.content = \"No es posible leer el estado de Box Feeder, por favor, revise la conexión\";\n        return msg;\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 340,
        "wires": [
            []
        ]
    }
]
